   <div class="jumbotron">
     <h1 class="title">校园招聘</h1>
     <p class="slogan">
       <!-- 校园招聘是一个提供在校学生找到全职／兼职／实习工作机会的求职网站。 -->
       <!-- <br>
       学生不仅能在校内找到老师发布的研究助理职位，还有大量的助教以及在校兼职的信息。 -->
      <!-- <br>
     我们希望藉由这个网站，能让大家找到且应征上满意并优质的工作。
     <br> -->
     缺钱了？
     <br>
     缺实习经验？
     <br>
     哪家大公司在招人？
     <br>
     来校园招聘！
     <br>
     只有想不到，没有找不到。
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>
       <div class="mid_sec">
         <h1>Why?</h1>
         <br>
         <div class="row">
             <p>勤工俭学的同学们，还在为找兼职而烦恼吗？
               <br>
               简历空白的同学们，还在为你们无法与老师套瓷而烦恼吗？
               <br>
               想去大公司实习的同学们，还在等什么？
               <br>来校园招聘！
            </p>
         </div>
       </div>


<div class="third_sec">
   <ul class="grid cs-style-3">
	<li>
		<figure>
			<img src="https://static.pexels.com/photos/4154/clinic-doctor-health-hospital.jpg" alt="img01">
			<figcaption>
				<h3>与老师合作？</h3>
				<p>让你获得教授的青睐</p>
				<a href="/jobs">找找</a>
			</figcaption>
		</figure>
	</li>
  <li>
		<figure>
			<img src="http://a1.qpic.cn/psb?/V11KudcW458lQg/YN7gsPGzOenrg4a0AJYNBGrSkC68SSO6Q5PsDfxXTVg!/b/dAsBAAAAAAAA&bo=wAOAAgAAAAAFAGI!&rf=viewer_4&t=5" alt="">
			<figcaption>
				<h3>想要找兼职？</h3>
				<p>各式各样的兼职工作在等你</p>
				<a href="/jobs">进来</a>
			</figcaption>
		</figure>
	</li>
  <li>
		<figure>
			<img src="https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="">
			<figcaption>
				<h3>想在大公司实习？</h3>
				<p>梦寐以求的实习就在这里</p>
				<a href="/jobs">看看</a>
			</figcaption>
		</figure>
	</li>
</ul>
</div>
