/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 .jumbotron {
   background-image:url('https://static.pexels.com/photos/29642/pexels-photo-29642.jpg');
   background-repeat: no-repeat;
   background-size: cover;

 }
 .background{
   background-image: url('https://static.pexels.com/photos/29642/pexels-photo-29642.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   margin-bottom: 100px;
 }


 .devise-text{
   max-width: 450px;//最大宽度
   margin-top: 100px;//和顶部拉开距离
   margin: 100px 100px 50px;

   text-align: left;
   color: white;

 }



 .title {
   background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  max-width: 500px;//最大宽度
  margin-top: 100px;//和顶部拉开距离
  margin-bottom: 0;//这样就可以紧接息面的描述文字
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
 }
 .jumbotron h1, .jumbotron .h1 {
     text-align: left;//文字左对齐
     color: #222;	//字体颜色
     padding: 50px 20px 0;//上50px，左右20px，下0
 }

 .slogan {
   margin-top: 10px;
   margin-bottom: 50px;
   text-align: left;
   color: white;
   top: 12px;
 }

 .lead {
   margin-bottom: 60px;
   text-align: left;
   color: white;
 }
 .navbar-default {
    background-color: black;//背景颜色
    border-color: black;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}
.navbar-default .navbar-brand {
   color: white;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9E9E9E;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}
.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9E9E9E;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #424242;
  background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: black;
    color: #9E9E9E;
}
.navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width: 32px; //定制图片宽度
    height: 32px; //定制图片高度
}
.container-fluid .jumbotron{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}
.mid_sec{
  background-color: #919585;
  padding: 20px 0px 40px;
  margin: -20px -20px 20px;
  font-weight: 500;
  text-align: center;
}
.third_sec{
  background-color: #B8BBAD;
  padding: 20px 0px 40px;
  margin: -20px -20px 0px -20px;
}
.footer_outlook{
  color: white;
  background-color: black;
}
