<footer class="footer_outlook" style="margin-top: 100px:">
  <ul class="text-center"> Copyright ©2017 校园招聘
    <br>
    <a href="https://www.dropbox.com/s/b6k87l33kj4aq2h/%E5%BE%AE%E4%BF%A1%E4%BA%8C%E7%BB%B4%E7%A0%81.png?dl=0" class="fa fa-weixin fa-4x"></a>
    <a href="https://github.com/wilburliu1123/job-listing/blob/mogai_project/app/views/welcome/index.html.erb" class="fa fa-github fa-5x" target="_blank"></a>
</footer>
