<footer class="container" style="margin-top: 100px:">
  <p class="text-center"> Copyright ©2017 校园招聘
    <br>Design by
    <a href="http://wilburliu-blog.logdown.com/" target=_new>Wilbur Liu</a>
  </p>
</footer>
